<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/events.css">

    <title>Events</title>
</head>

<body>
    <header>
        <a href="index.html"><img src="/images/Master_horizontal copy.png" alt="logo" width="300" height="80"></a>
        <nav>
            <ul>
                <li><a href="/templates/newEvent.html"><button id="newConnection">Start a New Event</button></a></li>
                <li><button id="buttonLogIn">Log In</button></li>
                <li><button id="buttonSignUp">Sign Up</button></li>
            </ul>

        </nav>

    </header>

    <nav id="generalSite">
        <ul>
            <li><a href="/templates/index.html">Home</a></li>
            <li><a href="/templates/events.html">Events</a></li>
            <li><a href="/templates/event.html">Upcoming Events</a> </li>
        </ul>
    </nav>

    <main>
        <h2>Events page</h2>
    </main>

    <footer>
        <p>&copy; UNCC CyberCorps SFS</p>
        <a>ABOUT</a>
        <a>CONTACT</a>
        <a href="https://github.com/Coolpeaspod" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://twitter.com/Prasham_23" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/prasham-pipaliya/" target="_blank"><i
                class="fa-brands fa-linkedin"></i></a>

    </footer>

</body>

</html>