.eventimg-container {
  width: 40%;
}
.eventimg-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.eventInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eventimg-container,
.eventInfo {
  display: inline-block;
  vertical-align: top;
}
.eventInfo h2 {
  margin: 20px;
}
