.studyEvent {
  display: inline;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
}
.socialEvent {
  display: inline;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
}

.studyEvent li {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
}
.socialEvent li {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
}

.studyEvent li a:hover {
  color: #358b7d;
  text-decoration: underline;
}
.studyEvent li a:visited {
  color: #358b7d;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  header {
    text-align: center;
    margin-bottom: 20px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main li {
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }
  main li:hover {
    border-bottom: 1px solid #082e38;
  }

  #newConnection,
  #buttonLogIn,
  #buttonSignUp {
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
  }

  header img {
    max-width: 80%;
    margin: 10px 0;
  }

  #generalSite ul {
    margin-top: 20px;
  }

  .studyEvent,
  .socialEvent {
    display: block;
    margin: 10px 0;
    padding: 10px;
  }

  .studyEvent li,
  .socialEvent li {
    margin: 10px 0;
    padding: 10px;
  }
}
