.btn-group-container {
  display: flex;
  align-items: center;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-group button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.eventimg-container,
.eventInfo {
  display: inline-block;
}

.eventInfo h2 {
  margin: 0;
}
.eventimg-container {
  width: 40%;
}
.eventimg-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.btn-group i {
  background-color: transparent;
}
