/* form */
form{
    display: grid;
    padding: 1rem 1rem;
    line-height: 1;
}
form h2 {
    margin-bottom: 20px;
}

form input, select{
    margin-left: 5rem;
    width: 300px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid gray;
    display: block;
    justify-content: end;
    margin-top: -20px;
    margin-bottom: 20px;
}

form button{
    border: none;
    background-color: green;
    color: white;
    width: 500px;
    margin-top: 20px;
    border: 1px solid transparent;
}

#connect-btn:hover{
    border: 1px solid green;
    color:green;
    background-color: white;
} 

/* form{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas: "one oneInt oneInt"
                        "two twoInt twoInt"
                        "three threeInt threeInt";
}
form:nth-child(1){
    grid-area: one;
}
form:nth-child(2){
    grid-area: two;
}
form:nth-child(3){
    grid-area: three;
} */

/* label {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
  }
  input {
    padding: 10px;
    width: 30%;
    height: 25px;
    margin: 2px;
    border-radius: 2px;
  } */

/* responsive design */
@media (min-width: 900px) {
    
}
