*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', 'sans-serif';
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: black;
}

/* header */
header {
    background-color: black;
    color: green;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header img {
    /* border-radius: 25px; */
    margin: 2rem 2rem 1rem 1rem;
}
header ul{
    margin-right: 25px;
}
header li {
    display: inline;
    margin-left: 20px;
}

button{
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 10px;
}
#newConnection{
    background-color: black;
    color: green;
    border: none;
}
#buttonLogIn {
    background-color: black;
    border: 2px solid green;
    color: green;
}
#buttonLogIn:hover{
    background-color: green;
    color: black;
    border: 2px solid black;
}
#buttonSignUp{
    background-color: green;
    color: white;
    border: 2px solid transparent;
}
#buttonSignUp:hover{
    background-color: white;
    color: green;
    border: 2px solid green
}

/* nav */
#generalSite ul{
    background: green;
    padding: 20px 20px;
    color: white;
}
#generalSite li{
    display: inline;
    padding: 20px;
    cursor: pointer;
}

/* main */
main{
    margin-left: 100px;
    padding: 100px;
}
main p{
    margin-top: 50px;
}


/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    color: green;
    justify-content: center;
}
footer li{
    cursor: pointer;
    display: inline;
    padding: 20px;
}
